# Data Science Tools and Ecosystem


In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

+ List popular languages for Data Science.
+ The libraries used by Data Scientists.
+ Open-source Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Keras
4. Seaborn

## Data Science Tools

Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

Take a screenshot of the markdown cell and name it as 6-dstools.png

Hint: Refer to Lab: Using Markdowns in Jupyter Notebooks to create a table.

| *Data Science Tools* |
|--------------------|
| VS Code |
| Jupyter Notebook |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
45%4

1

In [ ]:
y = 3434**2
y

11792356

In [ ]:
34 + 9

43

In [ ]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60. Run the cell to evaluate the expression.
200 / 60

3.3333333333333335

## Author

Monika